body {
  margin: 0;
  font-family: Roboto condensed, sans-serif;
  background-color: #FFEA99; 
  color: #000;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  text-align: left;
  padding: 10px 0 0 20px;
}

header h1 {
  font-size: 11rem;
  font-weight: 400;
}

header .subtitle {
  font-size: 2rem;
  margin-left: 20px;
}

/* INTRO SECTION */
.intro {
  text-align: center;
  padding: 60px 10%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.intro h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.intro p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.diver-image {
  width: 60px;
  height: auto;
  margin-left: 100px;
}

/* CURRENCIES SECTION */
.currencies {
  text-align: center;
  padding: 30px;
}

.dive_into    {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.card {
  background-color: #FFFFFF;
  border: 1.5px solid #000;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 280px;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 60px 10%;
  font-size: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer.left,
.footer.middle {
  flex: 1;
  min-width: 220px;
}

footer p {
  margin-bottom: 8px;
}

.fhgr_logo img {
  width: 80px;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    text-align: center;
    padding: 40px 5%;
  }

  header h1 {
    font-size: 3rem;
  }

  .cards {
    gap: 20px;
  }

  .card {
    width: 180px;
    height: 140px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer.left, .footer.middle {
    margin-bottom: 20px;
  }
}
