body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFEA99;
  color: #000;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.container3 {
  width: 100%;
 overflow: hidden;
 position: relative;
}

.wave-image-bottom {
  width: 122%;
  height: auto;
  margin-top: 20px;
  position: absolute;
  z-index: -1;
  margin-bottom: -150px; /* Adjust this value to control the overlap */
  bottom: -160px;
  right: 0;
  left: -99px;
  transform: scaleY(-1);
}

/* HEADER */
header {
  text-align: left;
  padding: 10px 0 0 20px;
}

header h1 {
  font-size: 11rem;
  font-weight: 400;
}

header .subtitle {
  font-size: 2rem;
  margin-left: 20px;
}

/* CHART SECTION */
.chart-container {
  max-width: 1200px;
  margin: 60px auto 30px;
  padding: 20px;
}

.chart-container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.chart-box {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 30px;
  gap: 40px;
}

.chart-box canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  aspect-ratio: 2 / 1; /* keeps it proportional */
  display: block;
}

/* CONTROLS */
.controls {
  display: grid;
  gap: 20px;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select, input[type="date"], button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 1rem;
}

button,
#showRangeBtn, #refreshBtn, #toggleNormalizeBtn {
  background-color: #DEE3FF;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #C8D2FF;
}

button.refresh {
  background-color: #D6DAFF;
}



/* NEW CURRENCY WAVE */
.button,
#newwave_Button {
  background-color: #002363;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 20px 20px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

#newwave_Button:hover {
  background-color: #0038a0;
  transform: translateY(-2px);
}

/* Container zentrieren */
.new_wave {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.link_new_currency_wave {
  text-decoration: none;
  color: white;
}

.link_new_currency_wave:visited {
  color: white;
}



/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 60px 10%;
  font-size: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer.left,
.footer.middle {
  flex: 1;
  min-width: 220px;
}

footer p {
  margin-bottom: 8px;
}

.fhgr_logo img {
  width: 80px;
  height: auto;
}

/* Responsive Design kleinere laptops */
@media (max-width: 1512px) {
.wave-image-bottom {
  bottom: ;
}
}